.AdminLayout {
  div:first-child {
    background: rgba(255, 255, 255, 0.6);
    padding: 1.5em 2.5%;
  }
  .Container {
    margin: 0 auto;
    padding: 3em;
    height: 84vh;
  }
  button {
    text-align: left;
  }

  ul {
    margin-top: 1.3em;
  }
}
