.Card {
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .Overlay {
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 100;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 75%;
  }

  .textContainer {
    text-align: right;
    padding-right: 1em;
    padding-bottom: 1em;
    color: black;

    @media screen and (max-width: 600px) {
      padding: 0 0.5em 0.5em 0;
    }

    h2 {
      margin: 1em 0 0.5em 0;

      @media screen and (max-width: 600px) {
        font-size: 1em;
      }
    }

    .date {
      font-size: 0.75em;
      margin-bottom: 0.25em;
    }

    .tag {
      margin-right: 0.5em;
      font-size: 0.75em;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
