.homePageContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10em;

  span:nth-of-type(2) {
    align-self: flex-end;
  }

  .backgroundName {
    font-size: 15em; /* make our h1 tag larger */
    background: linear-gradient(
        to right,
        rgb(255, 226, 209, 0) 0%,
        rgba(255, 226, 209, 0.5) 20%,
        rgba(255, 226, 209, 0) 61%
      ),
      linear-gradient(
        rgb(255, 81, 129) 61%,
        rgb(255, 226, 209) 60%,
        rgb(225, 42, 141) 52%
      );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: wave 2000ms ease alternate infinite;
    transition: all 0.4s ease;

    @media (max-width: 600px) {
      font-size: 3em;
    }

    @media (max-width: 900px) {
      font-size: 8em;
    }
  }
  @keyframes wave {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 50vw 0.5em;
    }
  }
}
