@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.Nav {
  display: flex;
  justify-content: space-between;
  margin: 1em 2em;

  .mainLinks {
    display: flex;
    justify-content: space-between;
    width: 30%;

    @media screen and (max-width: 600px) {
      // width: 90%;
    }
  }

  div > a {
    color: black;
    font-family: 'VT323', monospace;
    font-size: 1.25em;
    text-decoration: none;

    &:hover {
      -webkit-text-stroke: 0.5px black;
    }
  }
}
