@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.fixedNav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.6);
}
.Nav {
  display: flex;
  justify-content: space-between;
  margin: 1.5em 2.5%;

  div {
    width: 30%;
  }

  .mainLinks {
    display: flex;
    justify-content: space-between;
  }

  div > a {
    color: black;
    font-family: 'VT323', monospace;
    font-size: 1.25em;
    text-decoration: none;

    &:hover {
      -webkit-text-stroke: 0.5px black;
    }
  }
}
